<!DOCTYPE html>
<html>
	<head>
		<title>Edit User</title>
	</head>
	<body>
		<h1>Edit User</h1>

		<form action="/users/<%= @user.id %>" method="POST">
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<label>Name:</label>
			<input type="text" name="name" value="<%= @user.name %>">
			<input type="submit" value="Update User">
		</form>
	</body>
</html>